---

datacenters:
  children:
    datacenter1:
    datacenter2:

gtms:
  children:
    gtms1:
    gtms2:

gtm_sync_group_primary:
  # There MUST be only one GTM device defined here:
  # It is the source-of-truth for the sync-group.  It MUST not be changed without careful consideration
  # !!! WARNING:  CHANGING THIS VALUE AFTER FIRST DEPLOYMENT COULD WIPE CONFIG FROM ALL GTMS!!!
  hosts:
    gtm1.f5.com
  # !!! WARNING:  CHANGING THIS VALUE AFTER FIRST DEPLOYMENT COULD WIPE CONFIG FROM ALL GTMS!!!

ltms:
  children:
    ltm_standalone_only:
    ltms_primary_only:
    ltms_secondary_only:

ltm_standalone_only:
  hosts:
    # ltm3.f5.com

ltms_primary_only:
  hosts:
    ltm1.f5.com

ltms_secondary_only:
  hosts:
    ltm2.f5.com

all:
  children:
    datacenter1:
      children:
        r59001:
          children:
            gtms1:
              hosts:
                gtm1.f5.com:
                  ansible_host: 10.0.107.56
                  external_self: 10.0.1.101/24
                  internal_self: 10.0.2.101/24
                  device_cert: gtm-cert-1.crt
                  device_key: gtm-cert-1.key
                  dns_enable: true
                  waf_enable: false
                  ltm_ha_enable: false
                  state: deployed
                  gtm_sync_group_primary: true
                  # wips must only be defined within the gtm_sync_group_primary host
                  # The values defined within 'wips' must match virtuals defined 
                  #  under the ltm hosts also defined in this inventory
                  wips:
                    tenants: 
                      - name: tenant1
                        apps:
                          - name: nginx
                            wip: nginx.example.com
                            virtuals: 
                              - name: nginxServicemainA
                                ltm: arch-ltm1
                              - name: nginxServicemainB
                                ltm: arch-ltm1
                      - name: tenant2
                        apps:
                          - name: another
                            wip: another.example.com
                            virtuals:
                              - name: example2A
                                ltm: arch-ltm1
                              - name: example2B
                                ltm: arch-ltm1
            ltms1:
              hosts:
                ltm1.f5.com:
                  ansible_host: 10.0.107.58
                  external_self: 10.0.1.103/24
                  internal_self: 10.0.2.103/24
                  self_and_peer_info:
                    - name: ltm1
                      iquery_ip: 10.0.2.103/24
                    - name: ltm2
                      iquery_ip: 10.0.2.104/24
                  device_cert: ltm-cert-1.crt
                  device_key: ltm-cert-1.key
                  dns_enable: false
                  waf_enable: false
                  ltm_ha_enable: true
                  ltm_ha_primary: true
                  tenants:
                    - name: tenant1
                      app_list:
                        - name: nginxServicemainA
                          ip: 10.0.1.203
                          port: 80
                          members:
                            - name: server11
                              ip: 10.0.1.11
                            - name: server12
                              ip: 10.0.1.12
                            - name: server13
                              ip: 10.0.1.13
                        - name: nginxServicemainB
                          ip: 10.0.11.203
                          port: 80
                          members: 
                            - name: server111
                              ip: 10.0.11.11
                            - name: server112
                              ip: 10.0.11.12
                            - name: server113
                              ip: 10.0.11.13                          
                    - name: tenant2
                      app_list:
                        - name: example2A
                          ip: 10.0.1.204
                          port: 80
                          members:
                            - name: server121
                              ip: 10.0.1.21
                            - name: server122
                              ip: 10.0.1.22
                            - name: server123
                              ip: 10.0.1.23
                        - name: example2B
                          ip: 10.0.11.204
                          port: 80
                          members:
                            - name: server221
                              ip: 10.0.11.21
                            - name: server222
                              ip: 10.0.11.22
                            - name: server223
                              ip: 10.0.11.23
                  state: deployed
          vars:
            # vars for r59001
            f5os_ip: 10.0.107.18
            route_cidr: 10.0.0.0/16
            gateway: 10.0.2.1
      vars:
        # vars for datacenter1
        dc: datacenter1
    datacenter2:
      children:
        r59002:
          children:
            gtms2:
                gtm2.f5.com:
                  ansible_host: 10.0.107.57
                  external_self: 10.0.1.102/24
                  internal_self: 10.0.2.102/24
                  # sync_self_address: 10.0.2.102
                  device_cert: gtm-cert-2.crt
                  device_key: gtm-cert-2.key
                  dns_enable: true
                  waf_enable: false
                  ltm_ha_enable: false
                  state: deployed
                  gtm_sync_group_primary: false
                  # wips must only be defined within the gtm_sync_group_primary host
            ltms2:
              hosts:
                ltm2.f5.com:
                  ansible_host: 10.0.107.59
                  external_self: 10.0.1.104/24
                  internal_self: 10.0.2.104/24
                  self_and_peer_info:
                    - name: ltm1
                      iquery_ip: 10.0.2.103/24
                    - name: ltm2
                      iquery_ip: 10.0.2.104/24
                  device_cert: ltm-cert-2.crt
                  device_key: ltm-cert-2.key
                  dns_enable: false
                  waf_enable: false
                  ltm_ha_enable: true
                  ltm_ha_primary: false
                  state: deployed
                # ltm31.f5.com:
                #   ansible_host: 10.0.107.59
                #   external_self: 10.0.1.106/24
                #   internal_self: 10.0.2.106/24
                #   ltm_ha_primary: false
                #   self_and_peer_info:
                #     - name: ltm30
                #       iquery_ip: 10.0.2.106/24
                #   device_cert: ltm-cert-2.crt
                #   device_key: ltm-cert-2.key
                #   dns_enable: false
                #   waf_enable: false
                #   ltm_ha_enable: false
                #   ltm_ha_primary: false
                #   state: configured
          vars:
            # vars for r59002
            f5os_ip: 10.0.107.19
            route_cidr: 10.0.0.0/16
            gateway: 10.0.2.1
      vars:
        # vars for datacenter2
        dc: datacenter2
  vars:
    # vars for all hosts
    ansible_user: admin
    ansible_httpapi_password: password
    ansible_httpapi_port: 443
    ansible_network_os: f5networks.f5os.f5os
    ansible_httpapi_use_ssl: yes
    ansible_httpapi_validate_certs: no
    provider:
      server: "{{ ansible_host }}"
      user: "{{ ansible_user }}"
      password: "{{ ansible_httpapi_password }}"
      validate_certs: "{{ ansible_httpapi_validate_certs }}"
      server_port: "{{ ansible_httpapi_port }}"
    new_root_password: new_password
    ansible_command_timeout: 1800
    image_name: BIGIP-17.1.0-0.0.16.T4-F5OS.qcow2.zip.bundle
    nodes: 1
    mgmt_gw: 10.0.107.254
    mem: 7680
    cpu: 2
    vlans: [3209, 3030]
    dns_sync_group: arch-sync-group
    dns_server: 8.8.8.8
    ntp_server: time.google.com
    datacenter_list: 
      - datacenter1
      - datacenter2