{
    "command": "run",
			"options": [
        {
            "ssh-password": "{{ ansible_httpapi_password }}",
            "{{ ansible_user }}@{{ gtm_server_primary.sync_self_address }}": ""
        }
    ]
}