{
    "command": "run",
			"options": [
        {
            "ssh-password": "{{ ansible_httpapi_password }}",
            "{{ ansible_user }}@{{ hostvars[groups['gtm_sync_group_primary'][0]]['internal_self'] | ansible.utils.ipaddr('address') }}": ""
        }
    ]
}